{% extends 'base.html' %}
{% load widget_tweaks %}
{% block conteudo %}
     <center><h2 style="margin: 30px">{% if funcionario %}
         Editar Funcionário{% else %}
         Criar Funcionário{% endif%}
     </h2></center>
     <hr>
        <form method="POST" role="form" class="form-group">
        {% csrf_token %}
        {% for field in form %}
            <p><h4><span class="label label-default" for="{{field.name}}">{{ field.name.upper}}</span></h4>
            {{field |add_class:'form-control'}}
        {% endfor %}
        <br>    
        <input type="submit" class="btn btn-primary" value="Salvar">
        </form>

{% endblock %}
