{% extends 'base.html' %}
{% load widget_tweaks %}
{% block conteudo %}
     <center><h2 style="margin: 30px">{% if produto %}
         Editar Produto{% else %}
         Criar Produto{% endif%}
     </h2></center>
     <hr>
        <form method="POST" role="form">
        {% csrf_token %}
        {% for field in form %}
          <p><h4><span class="label label-default" for="{{field.name}}">{{ field.name.upper}}</span></h4>
            {{field |add_class:'form-control'}}</p>
        {% endfor %}
        <br>
        <input type="submit" class="btn btn-primary" value="Salvar">
        </form>

{% endblock %}
